workflow.json
[{"createdAt":"2024-07-16T17:06:54.780Z","updatedAt":"2024-07-19T10:49:51.000Z","id":"jNs9bbN6rG93xXKh","name":"My workflow","active":true,"nodes":[{"parameters":{"authentication":"oAuth2","incomingAuthentication":"basicAuth","action":"added","object":"deal"},"id":"3119e350-ed0a-438d-a55e-8e13a3857d43","name":"Pipedrive Add","type":"n8n-nodes-base.pipedriveTrigger","typeVersion":1,"position":[260,1100],"webhookId":"a18d0cc8-6049-47f2-9018-09c7b294cdf0","credentials":{"pipedriveOAuth2Api":{"id":"FLThxis62xoBdVGj","name":"Pipedrive account OAuth"},"httpBasicAuth":{"id":"C5IMMW9UCOyjsfJe","name":"Unnamed credential"}}},{"parameters":{"authentication":"oAuth2","incomingAuthentication":"basicAuth","action":"updated","object":"deal"},"id":"5ccf4bc5-b283-4f1f-85e0-ad5399edf994","name":"Pipedrive Update","type":"n8n-nodes-base.pipedriveTrigger","typeVersion":1,"position":[260,740],"webhookId":"0ffd576b-e44a-4b91-a195-54a00669ab2c","notesInFlow":false,"credentials":{"httpBasicAuth":{"id":"C5IMMW9UCOyjsfJe","name":"Unnamed credential"},"pipedriveOAuth2Api":{"id":"FLThxis62xoBdVGj","name":"Pipedrive account OAuth"}}},{"parameters":{"url":"https://fuad-sandbox.pipedrive.com/api/v2/stages","authentication":"predefinedCredentialType","nodeCredentialType":"pipedriveApi","options":{}},"id":"a124c73a-74c8-4bec-826c-f44583995b25","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,880],"credentials":{"pipedriveOAuth2Api":{"id":"FLThxis62xoBdVGj","name":"Pipedrive account OAuth"},"pipedriveApi":{"id":"uc0qzC8aUaNk7JdX","name":"Pipedrive API"},"httpQueryAuth":{"id":"7S5Ut37CjwTrl8wa","name":"Query Auth account"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst obj = {};\n\nfor (const item of $input.all()[0].json.data) {\n  obj[item.id] = item.name;\n};\n\nreturn {stage:obj};"},"id":"177e778c-10fa-485f-981f-c3810c2e142a","name":"Stage id:name","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,880]},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"e95b6ef3-3bb6-4c3a-be11-a1bb946302d8","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1100,780]},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C07D20NENHF","mode":"list","cachedResultName":"general"},"text":"=\"{{ $json.current.title }}\" {{ $json.current.status }}","otherOptions":{}},"id":"a2fd3216-2ca5-44d7-98ab-23e5a8dc9181","name":"Slack post status","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[700,360],"credentials":{"slackApi":{"id":"cKmdJjbrdGDWnHmm","name":"Slack account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C07D20Z736D","mode":"list","cachedResultName":"deal"},"text":"={{ $json.current.title }} : {{ $json[\"stage\"][$json[\"previous\"][\"stage_id\"]] }} > {{ $json[\"stage\"][$json[\"current\"][\"stage_id\"]] }} ","otherOptions":{}},"id":"c27eed80-8821-4d55-a5d3-9840f568d236","name":"Slack post changes","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[1300,780],"credentials":{"slackApi":{"id":"cKmdJjbrdGDWnHmm","name":"Slack account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C07D20Z736D","mode":"list","cachedResultName":"deal"},"text":"=Created new deal \"{{ $json.current.title }}\" ","otherOptions":{}},"id":"659412a8-52db-4f5a-99e5-086353b5ddef","name":"Slack post new","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[440,1100],"credentials":{"slackApi":{"id":"cKmdJjbrdGDWnHmm","name":"Slack account"}}},{"parameters":{"sendTo":"={{ $json.primary_email }}","subject":"Hello","emailType":"text","message":"=\"{{ $json.current.title }}\" {{ $json.current.status }}","options":{}},"id":"b1c208ea-1c33-458d-a9cd-fb385cc1a937","name":"Gmail","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1100,600],"credentials":{"gmailOAuth2":{"id":"xBz6vzudGUHomvHY","name":"Gmail account"}}},{"parameters":{"resource":"person","operation":"get","personId":"={{ $json.current.person_id }}"},"id":"dddd95b3-cb86-4ee1-95bc-66d69b2f91d6","name":"Pipedrive","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[700,540],"credentials":{"pipedriveApi":{"id":"uc0qzC8aUaNk7JdX","name":"Pipedrive API"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.current.status }}","rightValue":"=won","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"617559a6-4634-439f-9f79-9bd73e17106b","leftValue":"={{ $json.current.stage_id }}","rightValue":"={{ $json.previous.stage_id }}","operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"}}]},"options":{}},"id":"94534e0f-96cb-4fe4-9cfb-15fabe844eae","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[440,740]},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"d2d676aa-d2ef-4059-830e-1481c01ba7be","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[880,600]}],"connections":{"HTTP Request":{"main":[[{"node":"Stage id:name","type":"main","index":0}]]},"Stage id:name":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Pipedrive Update":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Slack post changes","type":"main","index":0}]]},"Pipedrive Add":{"main":[[{"node":"Slack post new","type":"main","index":0}]]},"Pipedrive":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Slack post status","type":"main","index":0},{"node":"Pipedrive","type":"main","index":0},{"node":"Merge1","type":"main","index":1}],[{"node":"Merge","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Gmail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Pipedrive Add":{"webhookId":512119},"node:Pipedrive Update":{"webhookId":512120},"node:Pipedrive Stage Change":{}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8cab2e14-2510-4be6-8a3d-f130aebde07a","triggerCount":2,"tags":[]}]